//
//  Secrets.xcconfig
//  ChartDemo
//
//  Created by 김지훈 on 2023/12/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY = rNk5s%2FO07ClivHBFf59UBmuJD4TKtvz9iazHmhwu83fysfF2iPubblCEkdxOeQSQvAF1ohMGnlv3MpA%2BjNCIsw%3D%3D&pageNo=1&numOfRows=8
